body {
    font-family: "Lato", sans-serif;
    background-color: #f9f9fd;
    color: #162b3a;
}

img{max-width: 100%;}

h3{font-size:22px; font-weight:bold;}
h4{font-size: 20px;}
h6{font-size: 14px; margin: 0}
p{margin: 0;font-size: 18px;}

.text-light{color:#67727b !important;}



/****************LOGIN*************/

.wrapper{height: 100vh;background: url(../images/login-bg.jpg);background-size: cover;display: flex;align-items: center;justify-content: center;}
.wrapper figure img{max-width: 170px;}
.login-box{background: white;padding: 30px;max-width: 450px;border-radius: 6px;box-shadow: 0 42px 74px 0 rgba(0, 0, 0, 0.2);}

.login-box .form-group label{
    margin-bottom: 3px;
    font-size: 13px;
    color: #021524;
}
.login-box .form-control{
    border-radius: 6px;
    background-color: #f5fdfd !important;
    border: transparent;
    height: 45px;
    color: #162b3a;
    box-shadow: none !important;
    font-size: 15px;
}
.login-box .form-control:focus{border: solid 1px #359aec;}
.login-box .btn-submit{
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 12px 14px 0 #eaf4fd;
    background-color: #359aec;
    color: #ffffff;
    height: 41px;
    font-size: 18px;
}
.view-pwd{position: absolute;right: 15px;top: 35px;}