/*FONTS*/
@font-face {
    font-family: 'barbershop_in_thailand';
    src: url('../fonts/barbershop_in_thailand.woff2') format('woff2'),
         url('../fonts/barbershop_in_thailand.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'century_gothic';
    src: url('../fonts/gothic.woff2') format('woff2'),
         url('../fonts/gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{color: #000000;    font-family: 'century_gothic';}

a, a:hover{text-decoration: none;    outline: 0;}
p,ul, ul li, h1, h2, h3, h4, h5, h6{margin: 0;}
img{max-width: 100%;}
h1{font-size: 150px;font-family: 'barbershop_in_thailand';line-height: 1.3;}
h2{font-size: 50px;font-family: 'barbershop_in_thailand';color: #1e9ad6;line-height: 1.4;}
.h3{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 20px;line-height: 1.4;}
h6{    font-size: 16px;    color: #636363;   line-height: 1.4;}
p{font-size: 17px; color: #464646; }

.text-black{color: #000000;}
.text-blue{color: #1e9ad6;}


.navbar.navbar-light{background: transparent;}
.navbar-light .navbar-toggler {
    padding: 8px;
    border: 1px solid #d4d4d4;
    color: #ffffff;
    outline: 0;
    border-radius: 5px;
}

.contact-info{border-left: 1px solid #c9c9c9;border-right: 1px solid #c9c9c9;padding: 0 10px;}
.social-links li a{
    color: #adadad;
    margin: 0 5px;
}
.social-links li a:hover{color: #41618f;}

img.logo{max-width: 150px;}
.navbar-light .navbar-nav .nav-link{color: #545454 !important;padding: 0px 15px;font-size: 17px;text-align: center;}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:hover{color: #41618f !important;}



/*HOME PAGE*/
.banner{padding-bottom: 27%;background: #fbfdff;}
.banner:before{position: absolute; content: ""; background: url(../img/home-banner.png); background-size: cover; top: 0; height: 100%; width: 100%;}

h1 span{font-family: 'century_gothic';font-size: 38px;font-style: italic;}
h1 span:last-child{
    position: absolute;
    display: block;
    right: 15%;
    bottom: 5%;
    font-size: 32px;
}
.blue-btn,
.ghost-btn:hover{
    background: #1e9ad6;
    border: 1px solid #1e9ad6;
    color: #ffffff !important;
    padding: 9px 40px;
    display: inline-block;
    border-radius: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.blue-btn:hover{background: #41618f;}
.ghost-btn{color: #1e9ad6 !important;  background: #ffffff;}

h2 span{color: #1e1e1e;font-family: 'century_gothic';font-size: 30px;}

.welcome-bg{background: url(../img/welcome-bg.png);background-size: cover;}


.featured-box{position: relative; overflow: hidden; display: block;}
.featured-box figcaption{
    text-align: left;
    background: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    left: 0;
    right: 0;
    max-height: 320px;
    -webkit-transform: translateY(68%);
        -ms-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.featured-box figcaption h5{color: black;    -webkit-transition: all 0.4s linear;    -o-transition: all 0.4s linear;    transition: all 0.4s linear;}
#featured-slider .item{padding: 0 0 40px;}

.featured-box:hover{overflow: visible;}
.featured-box:hover figcaption h5,
.featured-box p,
.featured-box li,
.featured-box a,
.featured-box i{color: white;}
.featured-box:hover figcaption{-webkit-transform: translateY(15%);-ms-transform: translateY(15%);transform: translateY(15%);background: #41618f;}
.featured-box figcaption img{width: auto !important;}


.grid-box h3{    position: absolute;    bottom: 10%;}
.grid-box h3 span{
    background: #1e9ad6;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
}
.grid-box span:after{position: absolute;content: "";width: 0;height: 0;right: -15px;top: 0;border-top: 19px solid transparent;border-bottom: 20px solid transparent;border-left: 15px solid #1e9ad6;}



.insta-bg{background: url(../img/insta-bg.png);background-size: cover;padding: 30px 0;}
.insta-box{
    background: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
}
.insta-box h2{font-size: 40px;}
.insta-box li{    max-width: 32%;    margin: 6px 0 0;}


#blogs .item{padding:10px;}
.blog-box{-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);border: solid 1px #f3f2f2;padding: 15px;}
#blogs.owl-theme .owl-dots .owl-dot span {
    margin: 5px;
    background: #e0e0e0;
}

#testimonials.owl-theme .owl-dots .owl-dot.active span, #testimonials.owl-theme .owl-dots .owl-dot:hover span ,
#blogs.owl-theme .owl-dots .owl-dot.active span, #blogs.owl-theme .owl-dots .owl-dot:hover span {
    background: #1e9ad6;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
}



.testimonial-bg{background: url(../img/testimonial-bg.png);background-size: cover;padding: 130px 0;background-position: center;}
.testimonial-box{
    background: hsla(0, 0%, 100%, 0.5);
    padding: 25px;
}
.testimonial-box h3, h6, h5{color: black}
.testimonial-box h6{padding-left: 20px;margin: 25px 0;border-left: 4px solid #41618f;}
.testimonial-box .client-img{
    max-width: 60px !important;
    margin-right: 15px;
}
#testimonials.owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}
#testimonials.owl-theme .owl-nav.disabled + .owl-dots{text-align: left;}



footer{background: url(../img/footer-bg.png);background-size: cover;padding-top: 250px;}
footer ul li{margin: 0 0 10px;}

footer p,
footer ul li,
footer ul li a{color: #7b7b7b ;}
footer ul li a:hover{color: #41618f;}
footer h4{color: #1e9ad6;}



.contact-form .form-group{
    padding-top: 25px;
    outline: 0 !important;
}
.contact-form label{position: absolute;background-color: #41618f;color: white;padding: 2px 10px;font-size: 15px;opacity: 0;top: 0;-webkit-transform: translateY(100%);-ms-transform: translateY(100%);transform: translateY(100%);-webkit-transition: all 0.5s linear;-o-transition: all 0.5s linear;transition: all 0.5s linear;margin: 0;z-index: -1;}
.contact-form .form-control{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0;
    border: solid 1px #f4f5f7;
    color: #000000;
    padding: 0 20px;
    height: 50px;
    background-color: #f4f5f7;
    font-size: 16px;
    background-clip: initial;
}
.contact-form .form-control:focus{border-color: #41618f;}
.contact-form .form-control:focus+label{-webkit-transform: translateY(0%);-ms-transform: translateY(0%);transform: translateY(0%);opacity: 1;}
.contact-form textarea.form-control{height: auto; padding-top: 10px;}
.send-btn{color: #41618f !important;    position: relative;padding: 12px 20px;}
.send-btn:before{position: absolute;content: "";height: 100%;width: 20%;background: #f5f5f5;left: 0;top: 0;z-index: -1;-webkit-transition: all 0.5s linear;-o-transition: all 0.5s linear;transition: all 0.5s linear;}
.send-btn:hover:before{width:100%;}



/*COMMON BANNER*/
.inner-banner{padding-bottom: 5%;background: #fbfdff;}
.inner-banner:before{position: absolute; content: ""; background: url(../img/insta-bg.png); background-size: cover; top: 0; height: 100%; width: 100%;}
.inner-banner h1{font-size: 80px}




@media (max-width: 1199px){
    .navbar-light .navbar-nav .nav-link{font-size: 15px;}  
    img.logo {    max-width: 110px;}
}
@media (max-width: 991px){
    .navbar-light .navbar-nav .nav-link{padding: 5px 0;text-align: right;color: #000000 !important;}   
    .contact-info{    padding: 0;    border: 0;    margin: 10px 0 0;}
    .welcome-bg {    padding: 0 0 30px;}
    header .social-links li a {    color: #000000;}
}

@media (max-width: 768px){
    h1{font-size: 80px;}
    h2{font-size: 40px;}
    .navbar>.container{max-width: 100%;}
    footer {padding-top: 80px;}
    h1 span:last-child {
        right: 25%;
        bottom: -5%;
    }
    h1 span {        font-size: 30px;        margin: 0 0 20px;    }
    h4 {    font-size: 18px;}
}

@media (max-width: 767px){
    h1 {font-size: 50px;}
    h2{    font-size: 35px;}
    .insta-box h2 {
        font-size: 30px;
    }
    h1 span:last-child{    position: relative;    right: 0;    font-size: 25px;}
}