/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*FONTS*/
@font-face { font-family: 'barbershop_in_thailand'; src: url('../fonts/barbershop_in_thailand.woff2') format('woff2'), url('../fonts/barbershop_in_thailand.woff') format('woff'); font-weight: normal; font-style: normal; } @font-face { font-family: 'century_gothic'; src: url('../fonts/gothic.woff2') format('woff2'), url('../fonts/gothic.woff') format('woff'); font-weight: normal; font-style: normal; }

body{color: #000000;    font-family: 'century_gothic';}

a, a:hover{text-decoration: none;    outline: 0;   font-size: inherit;}
p,ul, ul li, h1, h2, h3, h4, h5, h6{margin: 0;}
img{max-width: 100%;}
h1{font-size: 150px;font-family: 'barbershop_in_thailand';line-height: 1.1;}
h2{font-size: 50px;font-family: 'barbershop_in_thailand';color: #266092;    line-height: 1.4;}
.h3{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 20px;line-height: 1.4;}
h6{    font-size: 16px;    color: #636363;   line-height: 1.4;}
p{font-size: 17px; color: #464646; }

.text-black{color: #000000;}
.text-blue{color: #266092;}
.text-light{color: rgba(0, 0, 0, 0.6) !important;}


.navbar.navbar-light{background: transparent;}
.navbar-light .navbar-toggler {
    padding: 8px;
    border: 1px solid #d4d4d4;
    color: #ffffff;
    outline: 0;
    border-radius: 5px;
}

.contact-info{border-left: 1px solid #c9c9c9;border-right: 1px solid #c9c9c9;padding: 0 10px;}
.social-links li a{    color: #adadad;    margin: 0 5px;    font-size: 16px;}
.social-links li a:hover{color: #41618f;}

img.logo{max-width: 150px;}
.navbar-light .navbar-nav .nav-link{color: #545454 !important;padding: 0px 15px;font-size: 17px;text-align: center;}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:hover{color: #41618f !important;}


.nav-item.dropdown .sub-menu{
    position: absolute;
    left: 15px;
    z-index: 9;
    min-width: 210px;
    background: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    border-radius: 6px;
    -webkit-box-shadow: 0px 11px 10px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 11px 10px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #e1e1e1;
    overflow: hidden;
}
.nav-item.dropdown:hover .sub-menu{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.nav-item.dropdown .sub-menu a{
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e1e1;
    color: #545454;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}
.nav-item.dropdown .sub-menu a:hover{text-decoration: none;color: white;background: #266092;}
.nav-item.dropdown .sub-menu li:last-child a{border: 0;}


/*HOME PAGE*/
.banner{padding-bottom: 27%;}
img.banner-top{width: 100%; position: absolute; top: 0}


h1 span{font-family: 'century_gothic';font-size: 38px;font-style: italic;}
h1 span:last-child{
    position: absolute;
    display: block;
    right: 15%;
    bottom: 5%;
    font-size: 32px;
}
.blue-btn,
.ghost-btn:hover{
    background: #266092;
    color: #ffffff !important;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    outline: 0 !important;
    font-size: 16px !important;
    cursor: pointer;
}
.blue-btn:hover{background: #1d9bd5;}
.ghost-btn{color: #266092 !important;  background: #ffffff;}

h2 span{color: #1e1e1e;font-family: 'century_gothic';font-size: 30px;}

.welcome-bg{background: url(../img/welcome-bg.png);background-size: cover;}


.featured-box{position: relative; overflow: hidden; display: block;}
.featured-box figure{overflow: hidden;}
.featured-box figure img{transition: all 0.5s ease-in-out;}
.featured-box:hover figure img{transform: scale(1.1);}
.featured-box figcaption{
    text-align: left;
    background: white;
    padding: 15px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    left: 0;
    right: 0;
    max-height: 320px;
    -webkit-transform: translateY(68%);
        -ms-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.featured-box figcaption h5{color: black;-webkit-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;font-size: 20px !important;}
#featured-slider .item{padding: 0 0 40px;}

.featured-box:hover{overflow: visible;}
.featured-box:hover figcaption h5,
.featured-box p,
.featured-box li,
.featured-box a,
.featured-box i{color: white;font-size: 15px;}
.featured-box:hover figcaption{-webkit-transform: translateY(15%);-ms-transform: translateY(15%);transform: translateY(15%);background: #41618f;}
.featured-box figcaption img{width: auto !important;}


.grid-box {overflow: hidden;}
.grid-box img{-webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.grid-box:hover img{-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.grid-box h3{    position: absolute;    bottom: 10%;}
.grid-box h3 span{    background: #266092;    display: inline-block;    padding: 5px 15px;    position: relative;}
.grid-box span:after{position: absolute;content: "";width: 0;height: 0;right: -15px;top: 0;border-top: 19px solid transparent;border-bottom: 20px solid transparent;border-left: 15px solid #266092;}



.insta-bg{background: url(../img/insta-bg.png);background-size: cover;padding: 30px 0;}
.insta-box{
    background: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
}
.insta-box h2{font-size: 40px;}
.insta-box li{    max-width: 32%;    margin: 6px 0 0;}


#blogs .item{padding:10px;}
.blog-box{-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);border: solid 1px #f3f2f2;padding: 15px;  min-height: 250px}
#blogs.owl-theme .owl-dots .owl-dot span {
    margin: 5px;
    background: #e0e0e0;
}

#testimonials.owl-theme .owl-dots .owl-dot.active span, #testimonials.owl-theme .owl-dots .owl-dot:hover span ,
#blogs.owl-theme .owl-dots .owl-dot.active span, #blogs.owl-theme .owl-dots .owl-dot:hover span {
    background: #266092;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
}



.testimonial-bg{background: url(../img/testimonial-bg.png);background-size: cover;padding: 130px 0;background-position: center;}
.testimonial-box{
    background: hsla(0, 0%, 100%, 0.5);
    padding: 25px;
}
.testimonial-box h3, h6, h5{color: black}
.testimonial-box h6{padding-left: 20px;margin: 25px 0;border-left: 4px solid #41618f;}
.testimonial-box .client-img{
    max-width: 60px !important;
    margin-right: 15px;
}
#testimonials.owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}
#testimonials.owl-theme .owl-nav.disabled + .owl-dots{text-align: left;}


footer{background: url(../img/footer-bg.png);background-size: cover;padding-top: 250px;}
footer ul li{margin: 0 0 10px;}
footer p,
footer ul li,
footer ul li a{color: #7b7b7b;font-size: 16px !important;}
footer ul li a:hover{color: #41618f;}
footer h4{color: #266092;}


.contact-form .form-group{    padding-top: 25px;    outline: 0 !important;}
.contact-form label{position: absolute;background-color: #41618f;color: white;padding: 2px 10px;font-size: 15px;opacity: 0;top: 0;-webkit-transform: translateY(100%);-ms-transform: translateY(100%);transform: translateY(100%);-webkit-transition: all 0.5s linear;-o-transition: all 0.5s linear;transition: all 0.5s linear;margin: 0;z-index: -1;}
.contact-form .form-control{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0;
    border: solid 1px #f4f5f7;
    color: #000000;
    padding: 0 20px;
    height: 50px;
    background-color: #f4f5f7;
    font-size: 16px;
    background-clip: initial;
}
.contact-form .form-control:focus{border-color: #41618f;}
.contact-form .form-control:focus+label{-webkit-transform: translateY(0%);-ms-transform: translateY(0%);transform: translateY(0%);opacity: 1;}
.contact-form textarea.form-control{height: auto; padding-top: 10px;}
.send-btn{color: #41618f !important;position: relative;padding: 12px 20px;font-size: 16px; outline: 0 !important; box-shadow: none !important;}
.send-btn:before{position: absolute;content: "";height: 100%;width: 20%;background: #f5f5f5;left: 0;top: 0;z-index: -1;-webkit-transition: all 0.5s linear;-o-transition: all 0.5s linear;transition: all 0.5s linear;}
.send-btn:hover:before{width:100%;}



/*COMMON BANNER*/
.inner-banner{padding-bottom: 15%;}
.inner-banner h1{font-size: 80px}


/*ABOUT US PAGE*/
.featured-box li a{font-size: 14px;}
#featured-slider .owl-stage-outer{margin-left: 5%;}



/*PROPERTY PAGE*/
.search-form{    width: 50%;    margin: auto;}
.search-form .form-control{height: 50px;border-radius: 30px !important;padding: 0 30px;border: 1px solid #d7d7d7;}
.search-form .btn{
    position: absolute;
    right: 0;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 9;
    background: white;
    border-radius: 0 30px 30px 0;
    padding: 0 20px;
    border: 1px solid #d7d7d7;
    border-left: 0;
}

.property-category .nav-link {    border-radius: 0;    color: #555555;    padding: .6rem 1.5rem;    border: 1px solid #f3f3f3;    font-size: 15px;}
.property-category li+li .nav-link{border-left: 0;}
.property-category li:first-child .nav-link{border-radius: 30px 0 0 30px;}
.property-category li:last-child .nav-link{border-radius: 0 30px 30px 0;}
.property-category .nav-link.active, .property-category .show>.nav-link {background-color: #266092;border-color: #266092;}


.property-info{    border: 1px solid #f1f1f1;    display: block;    border-radius: 10px;    overflow: hidden;    height: 100%;
    margin-bottom: 20px;}
.property-info p.font-weight-bold{font-weight: 400 !important;}
.property-info ul li+li{margin-left: 15px;}
.property-info figure img{-webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.property-info figure:before{
    position: absolute;
    content: "";
    background-image: -webkit-gradient(linear, left bottom, left top, from(#266092), color-stop(50%, #ffffff00));
    background-image: -o-linear-gradient(bottom, #266092 0%, #ffffff00 50%);
    background-image: linear-gradient(0deg, #266092 0%, #ffffff00 50%);
    height: 100%;
    width: 100%;
    bottom: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
}
.property-info:hover figure:before{bottom: 0; z-index: 1;}
.property-info:hover figure img{-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}

.property-amenities{}
.property-amenities li{padding: 5px 0;position: relative;margin-left: 0 !important;display: inline-block;width: 24%;color: black;}
.property-amenities li:first-child{padding-left: 0;}
.property-amenities li+li:before{position: absolute;content: "";height: 100%;width: 1px;background: #f1f1f1;left: 0;top: 0;}
.property-amenities li i{
    color: #8a8a8a;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
.property-amenities li:hover i{color: #266092;}

.filter-options{display: flex; align-items: center; justify-content:space-around;}

.share{display: inline-block; margin: 0 5px; }
.share-btn, .share-btn:hover, .share-btn:focus{
    padding: 0;
    color: #266092;
    background-color: white;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 20px;
}
.dropleft .share-btn:before{display: none;}
.share .dropdown-menu {
    text-align: center;
    background: #ffffff;
    border-radius: 50px;
    padding: 10px;
    min-width: 150px;
}
.share .dropdown-item{
    display: inline-block;
    width: auto;
    padding: 0 12px;
    color: #41618f;
    background-color: transparent;
}
.print{    font-size: 20px !important; margin: 0 5px;}
.print:hover, .share-btn:hover{color: #41618f;}
a.text-blue[data-target="#filterModal"]{display: inline-block !important;font-size: 15px;}
.filter-dropdown{   display: inline-block;}
.filter-dropdown .blue-btn{    padding: 5px 25px;}

/*PROPERTY DETAILS PAGE*/

#detail-slider .carousel-indicators{  bottom: 15px;}
#detail-slider .carousel-indicators li{    width: 15px;    height: 15px;    border-radius: 50%;}
#detail-slider .carousel-indicators .active {    opacity: 1;    background-color: #266092;}
.controls{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: auto;
}
.controls .prev,
.controls .next{
    font-size: 40px;
    color: #41618f;
    left: -30px;
    position: absolute;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.controls .next{    right: -30px;    left: auto;}


.label-blue{border-radius: 10px;    background-color: #266092;  padding: 10px;  color: #ffffff; display: inline-block;   
    text-align: center;}

.property-name{font-size: 42px;}

.bg-light-blue{ background-color: #edf6fb;}

.property-details li{    margin-bottom: 8px;    font-size: 15px;}
.property-details li span{    color: #555555;    font-weight: bold;    margin-right: 8px;}

.prop-option{
    border-radius: 0;
    background: #edf6fb;
    min-height: 50px;
    font-size: 15px !important;
    color: #000000 !important;
    border-color: #ddecf4;
    padding: 10px 20px;
    line-height: 25px;
}
.prop-option:hover{    color: white !important;}

/*ERROR PAGE*/
.error-box{background: #ffffff;border-radius: 30px;}
.mt-neg{    margin-top: -18%;}


/*BLOG DETAILS*/
.blog-details img{ margin-bottom: 25px;}
.blog-list figure img{max-width: 140px;}
.blog-list li a{color: #636363;}
ul.blog-list li:last-child{margin-bottom: 0 !important;}


/*Property Details New*/

.agent-info{    -webkit-box-shadow: 0 .3rem 1.5rem rgba(0,0,0,.05)!important;    box-shadow: 0 .3rem 1.5rem rgba(0,0,0,.05)!important;    padding: 40px 0;}
.agent-info figure{
    width: 150px;
    height: 150px;
    margin: 0 auto 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}
ul.agent-contact li{
    padding-left: 40px;
    position: relative;
    word-break: break-word;
    font-size: 15px;
    margin: 10px 0;
    min-height: 30px;
    color: #464646;
}
ul.agent-contact li span{border-radius: 50%;position: absolute;left: 0;height: 30px;width: 30px;border: 1px solid #f1f1f1;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;color: #41618f;}
ul.agent-contact li a{color: #464646;}
ul.agent-contact li a:hover{color: #41618f;}


/*team details page*/
.agent-text p{margin-bottom: 15px;}
.agent-image img{max-width: 300px; }


/*Community page*/
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    background: #2e2e2e;
    max-height: 350px;
    width: 100%;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 100%;
}
.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure.effect-bubba:hover img {    opacity: 0.5;}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    pointer-events: none;
}
figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
        transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    -ms-transform: scale(1,0);
        transform: scale(1,0);
}
figure.effect-bubba h3 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
    margin: 0;
    font-size: 38px;
    font-family: 'barbershop_in_thailand';
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}
figure.effect-bubba:hover h3{    opacity: 1;    -webkit-transform: translate3d(0,0,0);    transform: translate3d(0,0,0);}



/*MAP*/
.map-container{position: relative;}
.map-pin{position: absolute;height: 25px;width: 40px;background-image: url('../img/map-pin.png');}
.map-pin span {    display: block;    height: 100%;    width: 100%;    color: transparent;}

/*map pins*/
#west-bay{
    top: 110px;
    left: 70px;
}
#seven-mile-corridor{
    top: 185px;
    left: 135px;
}
#seven-mile-beach{
    top: 232px;
    left: 128px;
}
#george-town{
    bottom: 135px;
    left: 160px;
}
#south-sound{
    bottom: 75px;
    left: 125px;
}
#prospect{
    bottom: 90px;
    left: 270px;
}
#spotts{
    bottom: 77px;
    left: 330px;
}
#savannah{
    bottom: 67px;
    left: 400px;
}
#bodden-town{
    bottom: 95px;
    left: 500px;
}
#breakers{
    bottom: 141px;
    right: 384px;
}
#east-end{
    right: 105px;
    bottom: 170px;
}
#north-side{
    top: 215px;
    right: 435px;
}
#rum-point{
    top: 157px;
    left: 469px;
}

#cayman-brac-central{
    top: 85px;
    right: 135px;
}
#little-cayman-west{
    top: 45px;
    right: 365px;
}


/*CONTACT PAGE*/
.z-index-0{z-index: 0;}
#googleMap{width: 100%; height: 400px;}

#mess_info {font-size: 18px !important;    margin-bottom: 15px;    color: #00b429 !important;    text-align: center;}


/*featured properties home page*/
.featured-box .property-amenities{margin: 10px 0 !important;}
.featured-box .property-amenities li{width: 20%;color: white;}
.featured-box .property-amenities li:first-child{padding-left: 0;}
.featured-box .property-amenities li+li:before{background: transparent;}
.featured-box .property-amenities li i{    color: #ffffff;}
.featured-box .property-amenities li:hover i{color: #ffffff;}

/*popup*/

.property-modal .modal-dialog,
#filterModal .modal-dialog{width: 80%;max-width: 850px;    margin: auto; margin-top: 50px;position: relative;}

.property-modal .modal-dialog .modal-bg,
#filterModal .modal-dialog .modal-bg{    position: absolute;    z-index: 9;    opacity: 0.7;    top: -100px;}

.property-modal .modal-content,
#filterModal .modal-content{border: 0;padding: 30px;}

.modal-backdrop.show {    opacity: .75;}

.property-modal button.close,
#filterModal button.close{
    position: absolute;
    top: 0;
    right: -50px;
    height: 40px;
    width: 40px;
    background: #41618f;
    opacity: 1;
    border-radius: 50%;
    color: white;
    text-shadow: none;
    outline: 0;
}

.property-modal h2,
#filterModal h2{font-size: 40px;}

.property-modal .form-group,
#filterModal .form-group{padding-top: 0;}

.property-modal .btn,
#filterModal .btn{    outline: 0;    margin: 5px 10px;    padding: 10px 30px;    border-radius: 40px;    box-shadow: none;  font-size: 16px;}

#filterModal .btn-advanced{    background: #41618f;    color: white;}
#filterModal .btn-reset{    background: white;    border: 1px solid #dddddd;}

.property-modal .contact-form .form-control,
#filterModal .contact-form .form-control{color: #626262;}


/*PRIVACY POLICY*/
.privacy-text h3{    font-weight: 600;    margin: 30px 0 10px;  font-size: 20px !important;}
.privacy-text p{    margin-bottom: 10px;}
.privacy-text a{    font-size: 16px;    text-decoration: underline;}
.privacy-text ul{padding: 0;list-style: none;margin-bottom: 15px;}
.privacy-text ul li{position: relative;padding-left: 15px;font-size: 17px;color: #464646;line-height: 1.7;}
.privacy-text ul li:before{position: absolute;content: "\f111";font-family: "fontAwesome";font-size: 10px;color: #266092;left: 0;top: 6px;}


/*PAGINATION*/
.search-pagination{    display: flex;    align-items: center;    justify-content: center;}
.pagination{margin-top: 20px;}
.pagination .page-link{    padding: 7px 15px;    color: #266092;    font-size: 16px;    box-shadow: none;}
.pagination .page-item.active .page-link{    background: #266092;    border-color: #266092;}


@media (max-width: 1199px){
    .navbar-light .navbar-nav .nav-link{font-size: 15px; padding: 0 10px;}  
    img.logo {    max-width: 110px;}

    .welcome-bg {    padding: 0 0 30px;}

    #featured-slider .owl-stage-outer{margin-left: 0;}

    .property-amenities li{    width: 23%;}
}

@media (max-width: 991px){
    .navbar-light .navbar-nav .nav-link{padding: 10px; text-align: right;color: #000000 !important;}   
    .contact-info{    padding: 0;    border: 0;    margin: 0 10px 10px;}
    .nav-item.dropdown .sub-menu {
        position: relative;
        display: none;
        width: 100%;
        left: 0;
        -webkit-box-shadow: 0px 11px 10px 0 rgba(0, 0, 0, 0.06);
                box-shadow: 0px 11px 10px 0 rgba(0, 0, 0, 0.06);
        text-align: right;
    }
    .nav-item.dropdown:hover .sub-menu{display: block;}


    .navbar-collapse {
        border: 1px solid #cccccc;
        background: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        top: 50px;
        z-index: 99;
        -webkit-box-shadow: 0 4px 20px #b0b0b0;
                box-shadow: 0 4px 20px #b0b0b0;
        padding: 5px 0;
    }
    
    header .social-links li a {    color: #000000;}

    #testimonials.owl-theme .owl-nav.disabled + .owl-dots{text-align: center;}
    .search-form{        width: 65%;     }
    .property-name {    font-size: 35px;}

}

@media (max-width: 768px){
    h1{font-size: 80px;}
    h2{font-size: 40px;}
    .navbar>.container{max-width: 100%;}
    footer {padding-top: 80px;}
    h1 span:last-child {        right: 25%;        bottom: -5%;    }
    h1 span {        font-size: 30px;        margin: 0 0 20px;    }
    h4 {    font-size: 18px;}

    .inner-banner h1{font-size: 55px;}
    
}

@media (max-width: 767px){
    h1 {font-size: 50px;}
    h2{    font-size: 35px;}
    .insta-box h2 {        font-size: 30px;    }
    h1 span:last-child{    position: relative;    right: 0;    font-size: 25px;}

    img.banner-top{top: 50px;     min-height: 450px;}
    .inner-banner h1{font-size: 42px;}

    #testimonials.owl-theme .owl-nav.disabled + .owl-dots{text-align: right;}
    #googleMap { height: 250px;}

     .search-form{        width: 100%;     }
     .search-form .form-control{padding: 0 15px;font-size: 15px;}
    .property-category li{width: 100%;}
    .property-category li .nav-link{border-radius: 0 !important;}
    .property-category li+li .nav-link{border-left: 1px solid #f3f3f3; border-top: 0;}

    .property-name {    font-size: 30px;}
    #detail-slider .carousel-indicators{display: none;}
    .controls {
        top: auto;
        bottom: -50px;
        width: 50px;
    }
    .controls .prev, .controls .next{left: 0;   font-size: 30px;}
    .controls .next{right: 0; left: auto;}
    .inner-banner .banner-top{min-height: 250px;}

    .grid figure{max-height: 300px;}

    /*popup*/
    .property-modal .modal-content,
    #filterModal .modal-content{padding: 10px;}
    .property-modal button.close,
    #filterModal button.close{top: -20px;    right: -20px;}
    .property-modal h2,
    #filterModal h2{    font-size: 30px;}
    .property-modal h5,
    #filterModal h5{font-size: 17px;}
}

/*banner for different screen sizes*/
@media (min-width: 1300px){
    .banner{padding-bottom: 25%;}
    .banner header{    margin-bottom: 8% !important;}

    .inner-banner .banner-top{top: -2%;}
}
@media (min-width: 1500px){
    .banner{padding-bottom: 28%;}
    .banner header{    margin-bottom: 13% !important;}

    .inner-banner header{    margin-bottom: 5% !important;}

    .insta-bg{padding-bottom: 7%;}

    .testimonial-bg{    padding: 12% 0;}
}
@media (min-width: 1750px){
    .inner-banner header{    margin-bottom: 7% !important;}

    .insta-bg{padding-bottom: 9%;}

    .testimonial-bg{    padding: 15% 0;}
}
@media (min-width: 2000px){
    .banner{padding-bottom: 30%;}
    .banner header{    margin-bottom: 15% !important;}
    
    .inner-banner .banner-top{top: -5%;}
    .inner-banner header{    margin-bottom: 9% !important;}

    .insta-bg{padding-top: 5%; padding-bottom: 12%;}

    .testimonial-bg{    padding: 15% 0 22%}
}
@media (min-width: 2400px){
    .banner{padding-bottom: 38%;}

    .inner-banner header{    margin-bottom: 12% !important;}

    .welcome-bg{padding-bottom: 5%;}

    .insta-bg{padding-bottom: 15%;}

    .testimonial-bg{ padding: 17% 0 25%;}
}
@media (min-width: 2900px){
    .welcome-bg{padding-top: 3%;    padding-bottom: 7%;}

    .insta-bg{padding-top: 7%;}
}
@media (min-width: 3200px){
    .welcome-bg{padding-top: 5%;}

    .insta-bg{padding-bottom: 17%;}

    .testimonial-bg{ padding: 23% 0 25%;}
}
